<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fas fa-headphones"></i> SoundSphere
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Shop
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">All Instruments</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Guitars</a></li>
                        <li><a class="dropdown-item" href="#">Keyboards</a></li>
                        <li><a class="dropdown-item" href="#">Drums</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            
            <!-- Right Side -->
            <div class="d-flex align-items-center gap-3">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search instruments...">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                
                <div class="nav-icons">
                    <a href="#" class="btn btn-outline-light position-relative">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ cart_items_count }}
                        </span>
                    </a>
                    
                    <div class="btn-group ms-2">
                        {% if user.is_authenticated %}
                        <a href="#" class="btn btn-outline-light">
                            <i class="fas fa-user"></i> Account
                        </a>
                        {% else %}
                        <a href="#" class="btn btn-outline-light">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                        {% endif %}
                    </div>
                    
                    <button class="btn btn-outline-light ms-2" id="themeToggle">
                        <i class="fas fa-moon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>